body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 60px;
    margin: 0px;
    color: #f3f3f3;
}

h2 {
    font-size: 38px;
    margin: 0px;
    color: #222a33;
}

h3 {
    font-size: 26px;
    margin: 0px;
    color: #222a33;
}

h4 {
    font-size: 22px;
    margin: 0px;
    color: #f3f3f3;
}

h5 {
    font-size: 18px;
    margin: 0px;
}

p {
    font-size: 18px;
    margin: 0px;
    color: #1f1f1f;
    line-height: 30px;
}

span {
    color: #f7505a;
}

section {
    margin-bottom: 100px;
}

/***BANNER SECTION START***/
section.banner {
    background-image: url(images/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 100vh;
}

.donate-container {
    display: flex;
    padding: 10px;
}

section.donate-plan {
    text-align: center;
}

.donate-half span {
    color: #f7505a;
}

.donate-half {
    width: 50%;
    margin: auto;
}

a.donate-btn {
    text-decoration: none;
    background-color: #f7505a;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
}

.donate-half p {
    margin-top: 25px;
    margin-bottom: 35px;
    color: #f3f3f3;
}

/***OUR DONATION SECTION START***/
.donate-half.cng_color p {
    color: #2c2c2c;
}

.our-donate-plan img {
    width: 20%;
    height: 22%;
    padding: 14px;
    box-shadow: 1px 0px 6px #1d1d1d87;
    border: 1px solid #f7505ab5;
    border-radius: 5px;
}

#donate-box-gap {
    margin-top: 50px;
}

.our-donate-plan h3 {
    margin: 15px 0px;
}

.our-donate-plan p {
    padding: 0px 30px;
}

.our-donate-plan {
    background-color: #40e0d0;
    padding: 60px 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #cfcfcf;
    border-top: 2px solid #f7505a;
    width: 28%;
    margin: auto;
}

.donate-amount.active h3 {
    color: #f3f3f3;
}

.donate-amount h3 {
    color: #f3f3f3;
}

.donate-amount.active {
    background-color: #f7505a;
    box-shadow: 2px 3px 2px #222a33;
}

/***DONATE TODAY SECTION START***/
section#bg-color {
    background-color: #f2f2f2;
    padding: 100px 0px;
}

.donate-amount {
    width: 20%;
    background: #222a33;
    padding: 40px 0px;
    margin: auto;
    color: #fff;
    box-shadow: 2px 2px 3px #f7505a;
    border-radius: 6px;
}

div.donate-halfs {
    width: 54%;
    margin: auto;
}

input.amount-field {
    width: 100%;
    margin-bottom: 55px;
    border: none;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

/***-NEED TO SERVIVE SECTION START***/
div.servive-half p {
    color: #222a33;
    padding-right: 22px;
}

p.first-p {
    margin-top: 20px;
}

p.second-p {
    margin-bottom: 40px;
}

.servive-half img {
    width: 80%;
    box-shadow: -3px -3px 1px #f7505a;
    border-radius: 10px;
}

.servive-half {
    width: 48%;
    padding-left: 5%;
}

.servive-half {
    padding-left: 5%;
}

/***CURRENT SITUATION SECTION START***/
.current-situation {
    width: 23%;
    margin: auto;
    border: 10px solid #fff;
}

img {}

.current-situation img {
    width: 100%;
    border-radius: 10px;
}

/***GET MY UPDATES SECTION START***/
div.bg-color {
    background-color: #40e0d0;
    height: 200px;
    width: 50%;
    margin: auto;
    border-radius: 40px 0px;
}

.button {
    background-color: #f7505a;
    border: none;
    padding: 16px 10px;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
}

input.email {
    background-color:
        transparent;
    border: 1px solid #f7505a;
    padding: 15px 10px;
    color: #fff;
    border-radius: 5px 0px 0px 5px;
    margin-right: -10px;
    width: 75%;
}

/***FOOTER SECTION START***/
footer {
    background-color: #222a33;
    text-align: center;
    padding: 30px 0px;
}

.foter-content {
    margin: 10px 0px;
}

.foter-content {
    margin: 10px 0px;
}

.foter-content h4 {
    color: #40e0d0;
}

footer small {
    color: #f3f3f3;
}

.donate-half img.icon {
    width: 4%;
    margin-right: 10px;
    margin-top: 10px;
}

span.footer-h4 {
    font-size: 22px;
    color: #f7505a;
}