body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 50px;
    margin: 0px;
    color: #f3f3f3;
}

h2 {
    font-size: 38px;
    margin: 0px;
    color: #222a33;
}

h3 {
    font-size: 26px;
    margin: 0px;
    color: #222a33;
}

h4 {
    font-size: 22px;
    margin: 0px;
    color: #f3f3f3;
}

h5 {
    font-size: 18px;
    margin: 0px;
}

p {
    font-size: 18px;
    margin: 0px;
    color: #1f1f1f;
}

span {
    color: #f7505a;
}

section {
    margin-bottom: 100px;
}

/***BANNER SECTION START***/
section.banner {
    background-image: url(images/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 100vh;
}

.donate-container {
    display: flex;
    padding: 10px;
}

section.donate-plan {
    text-align: center;
}

.donate-half span {
    color: #f7505a;
    font-size: 55px;
}

.donate-half {
    width: 50%;
    margin: auto;
}

a.donate-btn {
    text-decoration: none;
    background-color: #f7505a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.donate-half p {
    margin-top: 25px;
    margin-bottom: 35px;
    color: #f3f3f3;
}

/***OUR DONATION SECTION START***/
.donate-half.cng_color p {
    color: #2c2c2c;
}

.our-donate-plan img {
    width: 20%;
    height: 22%;
    padding: 14px;
    box-shadow: 1px 0px 6px #1d1d1d87;
    border: 1px solid #f7505ab5;
    border-radius: 5px;
}

#donate-box-gap {
    margin-top: 50px;
}

.our-donate-plan h3 {
    margin: 15px 0px;
}

.our-donate-plan {
    background-color: #40e0d0;
    margin: 0px 10px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #cfcfcf;
    border-top: 2px solid #f7505a;
}

.donate-amount.active h3 {
    color: #f3f3f3;
}

.donate-amount h3 {
    color: #f3f3f3;
}

.donate-amount.active {
    background-color: #f7505a;
    box-shadow: 2px 3px 2px #222a33;
}